.social-links {
            margin-top: 20px;
            font-size: 1.2rem;
}
.social-links a {
            margin-right: 15px;
            text-decoration: none;
            color: inherit;
}
.social-links img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 5px;
}

.img-custom {
            width: 150px;  /* Set the width of the circular image */
            height: 150px; /* Set the height of the circular image */
            border-radius: 50%; /* Make the image circular */
            object-fit: cover; /* Ensure the image covers the circle */
}
